**/__pycache__/
**/.DS_Store
**/.env
**/.env.*
/.env
!.env.example
**/.venv/
**/.pytest_cache/
**/node_modules/
**/.next/
**/dist/
**/build/
**/*.log
**/*.tmp
**/*.swp
**/*.swo
**/coverage/
**/.coverage
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
.logs/
.pids/
.code/
prd.md
